<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">

			<a class="brand" href="/">I Saw Who</a>
			<% if signed_in? %>    
			<div class="btn-group pull-right">

				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-user"></i> <%= current_user.name %>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<%= link_to "Profile", user_path(current_user) %>
					</li>
						<li>
							<%= link_to "Settings", edit_user_path(current_user) %>
						</li>
						<%= link_to "Sign out", signout_path, method: "delete" %>
					</li>
				</ul>
			</div>
			<% else %>
			<div class="btn-group pull-right">
<%= link_to "Sign in", signin_path, class: "btn" %>
				
			</div>
			<% end %>
			<div class="nav-collapse">
				<ul class="nav">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "About", about_path %></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>